# Environment
.env*
.venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
.central_cache/
.pycache/
1

# IDEs and Editors
.vscode/

# GitHub
.github/*


.idea/
.venv


# OS
.DS_Store
Thumbs.db

central_cache
# docker
docker-compose.yaml