name: Build and Push Backend Image

on:
  push:
    branches:
      - main-backend  # or your deploy branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags:  keshavraj098/careerai-backend-hub:latest 
  
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        envs: DOCKER_USER,DOCKER_PASS
        script: |
          export DOCKER_USER=${{ secrets.DOCKER_USERNAME }}
          export DOCKER_PASS=${{ secrets.DOCKER_PASSWORD }}
          cd /home/ubuntu/CareerAI
             # Stop and remove old containers
            docker-compose down
            
            # Pull the latest image
            docker-compose pull
            
            # Start in detached mode
            docker-compose up -d
            
            # Optional: remove unused images to save space
            docker image prune -f
